body{
margin:0;
padding:0;
font-family:Arial, sans-serif;
font-size:16px;
}
h1{text-align:center;
margin:35px 40px 10px 40px;
}
h2{display:block;
	padding:5px 10px 5px 10px;
	text-align:center;
	width: 40%;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    background: #5F9EA0;
    height: auto;
    float: right;
    margin: 0;
}
p{ 
padding:5px 20px 5px 20px;
text-align: justify;
float: right;
}
#container {    
    max-width: auto;
    margin: 0 auto;
    overflow: hidden;
    padding:0 40px;
}
#container > div {
    width: 31%;
    border: 1px solid black;
    background: #5F9EA0;
    height: auto;
    float: left;
    margin: 1%;
    box-sizing: border-box;
}
.color1 { background:#B22222;
}
.color2 { background:#FF0000;
color:white;

}
.color3 { background:#FFFF00;
}
@media screen and (max-width: 991px) {
#container > #div3 {clear:both;
width:98%;
}
#container > #div1 {
width:48%;
}
#container > #div2 {
width:48%;
}
 }
@media screen and (max-width: 767px) {
#container > #div3 {clear:both;
width:98%;
}
#container > #div1 {
width:98%;
}
#container > #div2 {clear:both;
width:98%;
}
 }
